<div class="col-sm-12 col-md-3">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">{{ admin }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-3">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">{{ developer }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-3">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">{{ projects }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-3">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-uppercase">{{ tasks }}</div>
                </div>
            </div>
        </div>
    </div>
</div>