<div class="cell-sm-12 cell-md-3">
    <div class="card">
        <div class="card-content">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">Administradores</div>
                    <div class="text-upper text-bold text-lead">{{ admin }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cell-sm-12 cell-md-3">
    <div class="card">
        <div class="card-content">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">Desarrolladores</div>
                    <div class="text-upper text-bold text-lead">{{ developer }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cell-sm-12 cell-md-3">
    <div class="card">
        <div class="card-content">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">Proyectos</div>
                    <div class="text-upper text-bold text-lead">{{ projects }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cell-sm-12 cell-md-3">
    <div class="card">
        <div class="card-content">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">Tareas</div>
                    <div class="text-upper text-bold text-lead">{{ tasks }}</div>
                </div>
            </div>
        </div>
    </div>
</div>