<form id="form-container" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Tareas</h2>
    {{ formset.management_form }}
    {% for form in formset %}
        <div id="project_form">
            <div class="row">
                <div class="cell-sm-12 cell-md-5">
                    {{ form.type_task.label }}
                    {{ form.type_task }}
                </div>
                <div class="cell-sm-12 cell-md-5">
                    {{ form.task.label }}
                    {{ form.task }}
                </div>
                <div class="cell-sm-12 cell-md-2">
                    {{ form.state.label }}
                    {{ form.state }}
                </div>
            </div>
        </div>
        {% endfor %}
    <button type="button" onclick="add_input();">AGREGAR</button>  
    <button type="submit" class="button success"><span class="mif-add icon"></span> {{ message }}</button>
    <a href="{% url 'projects:project' %}" class="button alert"><span class="mif-cancel icon"></span> Cancelar</a>
</form>