<form method="post">
    {% csrf_token %}
    <div class="input-field col s12">
        <select multiple>
            {% for developer in form.developer %}
                <option value="{{ developer }}"></option>
            {% endfor %}
        </select>
        <label>{{ form.developer.label }}</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">article</i>
        {{ form.name }}
        <label for="icon_name">{{ form.name.label }}</label>
    </div>
    <table>
        {{ formset.management_form }}

        {% for form in formset %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tr class="formset_row">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">{{ message }}</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancelar</a>
</form>