<canvas id="{{ project.slug }}" width="400" height="400"></canvas>

<script>
    const {{ project.slug }} = document.getElementById('{{ project.slug }}').getContext('2d');
    var myChart  = new Chart({{ project.slug }}, {
        type: 'pie',
        data: {
            labels: ['{{ project }}',],
            datasets: [{
                data: [12, 19, 3, 5, 2, 3],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>