<canvas id="{{ project.slug }}" width="400" height="400"></canvas>

<script>
    faltante = 100 - {{ project.porcent }}
    var graphic = document.getElementById('{{ project.slug }}').getContext('2d');
    var myChart  = new Chart(graphic, {
        type: 'pie',
        data: {
            labels: ['{{ project.name }}', 'Falta'],
            datasets: [{
                data: [{{ project.porcent }}, faltante],
                backgroundColor: ['red', 'blue']
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>