<canvas id="{{ project.slug }}" width="400" height="400"></canvas>

<script type="text/javascript">
    var faltante = 100 - {{ project.porcent }};

    var data = {
        labels: ['{{ project.name }}', 'Falta'],
        datasets: [{
            data: [{{ project.porcent }}, faltante],
            backgroundColor: ['#252850', '#f44611'],
        }],
    };

    var ctx = document.getElementById('{{ project.slug }}').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });
    
    var chartType = document.getElementById('chartType');
    
    chartType.addEventListener('change', () => {
        myChart.destroy();
        myChart = new Chart(ctx, {
            type: chartType.value,
            data: data
        });
    });
</script>