<table class="table" data-role="table" data-horizontal-scroll="true" data-table-search-title="Buscar: " data-table-rows-count-title="Cantidad a mostrar" data-search-threshold="25">
    {% if perms.project.view_project %}
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Desarrolladores</th>
                <th>Estado</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for projects in object_list %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.developer__count }}</td>
                    <td>{{ projects.status }}</td>
                    <td>{{ projects.created_at }}</td>
                    <td>
                        <a href="{% url 'projects:update_project' projects.slug %}" class="button info"><span class="mif-pencil icon"></span> Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Progreso</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for projects in object_list %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.status }}</td>
                    <td>{{ projects.porcent }}</td>
                    <td>{{ projects.created_at }}</td>
                    <td>
                        <a href="{% url 'projects:view_project' projects.slug %}" class="button info"><span class="mif-eye icon"></span> ver mas...</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
