<table class="table" data-role="table" data-store-key="name, count, status, created_at, action">
    {% if group %}
        <thead>
            <tr>
                <th data-name="name">Nombre</th>
                <th data-name="count">Desarrolladores</th>
                <th data-name="status">Estado</th>
                <th data-name="created_at">Fecha de Creacion</th>
                <th data-name="action">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for projects in object_list %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.developer__count }}</td>
                    <td>{{ projects.status }}</td>
                    <td>{{ projects.created_at }}</td>
                    <td>
                        <a href="{% url 'projects:update_project' projects.slug %}" class="btn btn-danger">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for projects in object_list %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.status }}</td>
                    <td>{{ projects.created_at }}</td>
                    <td>
                        <a href="{% url 'projects:view_project' projects.slug %}" class="btn btn-primary">ver mas...</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
