<div class="card">
    <div class="card-content">
        <h2 class="text-bold text-center">{{ projects.name }}</h2>
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <a href="{% url 'tasks:add_task' %}" class="btn btn-success">Agregar Tarea</a>
            </div>
            <div class="col-sm-12 col-md-2">
                <a href="{% url 'projects:update_project' projects.slug %}" class="btn btn-danger">Editar</a>
            </div>
        </div>
    </div>
</div>