{% extends 'base.html' %}

{% block content %}
<div class="card text-bold">
    <div class="card-content m-2">
        <div class="social-box">
            <div class="header bg-cyan fg-white">
                <img src="{{ profile.avatar.url }}" class="avatar img-fluid">
                <div class="title">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="subtitle">{{ user.role }}</div>
                <a href="{% url 'profiles:update_profile' profile.pk %}" class="button success mt-2"><span class="mif-pencil icon"></span> editar perfil</a>
            </div>
            <ul class="skills">
                <li>
                    <div>NOMBRE DE USUARIO</div>
                    <div class="text-bold">{{ user.username }}</div>
                </li>
                <li>
                    <div>CORREO</div>
                    <div class="text-bold">{{ user.email }}</div>
                </li>
                <li>
                    <div>FECHA DE CREACION</div>
                    <div class="text-bold">{{ user.date_joined }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}