{% extends 'base.html' %}

{% block content %}
    <div class="card text-bold">
        <div class="card-content m-2">
            <h2 class="text-center">Actualizar Informacion</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_user.as_p }}
                {{ form.as_p }}
                <button type="submit" class="button success">actualizar</button>
                <a href="{% url 'profiles:profile' %}" class="button alert">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}