{% extends 'base.html' %}

{% block content %}
        <div class="card">
            <div class="card-content m-2">
                <a class="button success" href="{% url 'tasks:add_type_task' %}"><span class="mif-add icon"></span> Crear tipo de tarea</a>
                <h2 class="center">Tipo de tareas</h2>
                <table class="table" data-role="table" data-horizontal-scroll="true" data-table-search-title="Buscar: " data-table-rows-count-title="Cantidad a mostrar">
                    <thead>
                        <tr>
                            <th>Tipo de tarea</th>
                            <th>Estado</th>
                            <th>Fecha de creacion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for type_task in object_list %}
                            <tr>
                                <td>{{ type_task.name }}</td>
                                <td>{{ type_task.status|yesno:'Activo,Inactivo' }}</td>
                                <td>{{ type_task.created_at }}</td>
                                <td>
                                    <a href="{% url 'tasks:update_type_task' type_task.slug %}"
                                        class="button info"><span class="mif-pencil icon"></span> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}