<table class="table" data-role="table" data-horizontal-scroll="true" data-table-search-title="Buscar: " data-table-rows-count-title="Cantidad a mostrar" data-search-threshold="25">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for projects in object_list %}
            <tr>
                <td>{{ projects.name }}</td>
                <td>
                    <a href="{% url 'users:update_role' projects.pk %}" class="button info"><span class="mif-pencil icon"></span> Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
