<form id="form-container" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="full-name" class="required">{{ form.description.label }}</label>
        {{ form.description }}
    </div>
    <h2>Actividades</h2>
    <table>
        {{ formset.management_form }}
        {% for form in formset %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tr id="projects_data">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="button success">{{ message }}</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="button alert">Cancelar</a>
</form>