{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-content m-2">
            <h2>Agregar Proyecto</h2>
            {% include 'projects/snippets/form.html' with  message='Crear' %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script>
            $('#projects_data').formset({
                addText: '<span class="mif-add icon"></span>  agregar proyectos',
                deleteText: 'Eliminar Actividad',
                deleteCssClass: 'button alert',
                addCssClass: 'button warning my-2',
                prefix: '{{ formset.prefix }}'
            });
        </script>
{% endblock %}
