{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h2>Agregar Proyecto</h2>
                <div class="col-md-4">
                    {% include 'projects/snippets/form.html' with  message='Crear' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('#projects_data').formset({
                prefix: '{{ formset.prefix }}',
                addText: 'crear tarea',
                deleteText: 'eliminar tarea',
            });
        })
    </script>
{% endblock %}