{% for project in object_list %}
    <div class="cell-sm-12 cell-md-4">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="cell-sm-12 cell-md-6">
                        {% include 'projects/snippets/graphic.html' %}
                    </div>
                    <div class="cell-sm-12 cell-md-6">
                        {% include 'projects/snippets/data-project.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}