{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">Actualizar Proyecto</h3>
                {% include 'projects/snippets/form.html' with message='Actualizar' %}
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script>
            $('.formset_row').formset({
                addText: 'agregar projectos',
                deleteText: 'eliminar',
                prefix: 'familymember_set'
            });
        </script>
    </div>
{% endblock %}