{% extends 'base.html' %}

{% block content %}
    <div class="card text-center">
        <div class="card-content m-2">
            <table class="table" data-role="table" data-horizontal-scroll="true" data-table-search-title="Buscar: " data-table-rows-count-title="Cantidad a mostrar" data-search-threshold="25">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Fecha de Creacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for task in object.task_set.all %}
                            <tr>
                                <td>{{ task.task }}</td>
                                <td>{{ task.status|yesno:'Completado,En proceso' }}</td>
                                <td>{{ task.created_at }}</td>
                                <td>
                                    <a href="{% url 'tasks:update_task' task.slug %}" class="button info"><span class="mif-eye icon"></span> ver mas...</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}