{% extends 'base.html' %}

{% block content %}
    <div class="card text-center">
        <div class="card-content m-2">
            <div class="card-title">{{ object.name }}</div>
            <div class="row">
                {% for task in object.task_set.all %}
                    <div class="cell-sm-12 cell-md-3">
                        <div class="card">
                            <div class="card-content m-2">
                                <div class="card-title">{{ task }}</div>
                                <p>{{ task.description }}</p>
                                <hr>
                                <p class="card-title">Actividades</p>
                                {% for activities in task.activities_set.all  %}
                                    <p>{{ activities }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}