{% extends 'base.html' %}

{% block content %}
    {% if group %}
        <div class="row">
            {% include 'projects/snippets/card-project.html' %}
        </div>
    {% endif %}
    <select name="chartType" id="chartType" data-role="select">
        <option value="pie">pie</option>
        <option value="bar">Bar</option>
    </select>
    <div class="row">
        {% include 'projects/graphics.html' %}
    </div>
    {% if is_paginated %}
        <div class="container">
            <div class="center">
                {% include 'projects/paginator.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}