<!-- Urls for the app of user -->
{% url 'users:login' as login %}
{% url 'users:logout' as logout %}
{% url 'users:register' as register %}

<!-- Urls for the app of type_task -->
{% url 'tasks:type_task' as type_task %}

<!-- Urls for the app of task -->
{% url 'tasks:task' as task %}
{% url 'tasks:add_task' as add_task %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tareas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == task %}active{% endif %}" href="{{ task }}">
                            <i class="fas fa-chart-pie"></i>
                            Inicio
                        </a>
                    </li>
                    {% if perms.tasks %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == type_task %}active{% endif %}" href="{{ type_task }}">
                                <i class="fas fa-tasks"></i>
                                Tipo Tareas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == add_task %}active{% endif %}" href="{{ add_task }}">
                                <i class="fas fa-tasks"></i>
                                Tareas
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.users %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == register %}active{% endif %}" href="{{ register }}">
                                <i class="fas fa-user"></i>
                                Usuarios
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout %}active{% endif %}" href="{{ logout }}">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login %}active{% endif %}" href="{{ login }}">
                            <i class="fas fa-sign-in-alt"></i>
                            Iniciar Sesion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>