<!-- Urls for the app of user -->
{% url 'users:logout' as logout %}
{% url 'users:user' as user %}
{% url 'users:roles' as roles %}

{% url 'profiles:profile' as profile %}

<!-- Urls for the app of projects -->
{% url 'projects:home' as home %}
{% url 'projects:project' as project %}

<!-- Urls for the app of type_task -->
{% url 'tasks:type_task' as type_task %}

<!-- Urls for the app of task -->
{% url 'tasks:task' as task %}
{% url 'tasks:add_task' as add_task %}

<turbo-frame id="menu" target="_top">
    <div class="navview-container">
        <button class="pull-button a">
            <span class="default-icon-menu"></span>
        </button>
    </div>
    <div class="navview-menu-container">
        <ul class="navview-menu mt-4">
            <li class="item-header">Opciones principales</li>
            <li>
                <a href="{{ home }}">
                    <span class="icon"><span class="mif-dashboard"></span></span>
                    <span class="caption">Inicio</span>
                </a>
            </li>
            {% if perms.tasks.view_typetask %}
                <li>
                    <a href="{{ type_task }}">
                        <span class="icon"><span class="mif-bookmark"></span></span>
                        <span class="caption">Tipo de tareas</span>
                    </a>
                </li>
            {% endif %}
            {% if perms.projects.view_project %}
                <li>
                    <a href="{{ project }}">
                        <span class="icon"><span class="mif-books"></span></span>
                        <span class="caption">Proyectos</span>
                    </a>
                </li>
            {% endif %}
            {% if perms.tasks.view_task %}
                <li>
                    <a href="{{ task }}">
                        <span class="icon"><span class="mif-dashboard"></span></span>
                        <span class="caption">Tareas</span>
                    </a>
                </li>
            {% endif %}
            {% if perms.users.view_user %}
                <li>
                    <a href="{{ user }}">
                        <span class="icon"><span class="mif-users"></span></span>
                        <span class="caption">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="{{ roles }}">
                        <span class="icon"><span class="mif-users"></span></span>
                        <span class="caption">Roles</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ profile }}">
                    <span class="icon"><span class="mif-user"></span></span>
                    <span class="caption">Perfil</span>
                </a>
            </li>
        </ul>
    </div>
</turbo-frame>