<!-- Urls for the app of user -->
{% url 'users:logout' as logout %}
{% url 'users:user' as user %}
{% url 'profiles:profile' as profile %}

<!-- Urls for the app of projects -->
{% url 'projects:home' as home %}
{% url 'projects:project' as project %}

<!-- Urls for the app of type_task -->
{% url 'tasks:type_task' as type_task %}

<!-- Urls for the app of task -->
{% url 'tasks:task' as task %}
{% url 'tasks:add_task' as add_task %}

<div class="navview-container">
    <button class="pull-button">
        <span class="default-icon-menu"></span>
    </button>
</div>
<div class="navview-menu-container">
    <ul class="navview-menu mt-4">
        <li class="item-header">Opciones principales</li>
        <li class="done {% if request.path == home %}active{% endif %}"><a href="{{ home }}"><span class="mif-dashboard icon"></span>Inicio</a></li>
        <li class="done {% if request.path == type_task %}active{% endif %}"><a href="{{ type_task }}"><span class="mif-bookmark icon"></span>Tipo de tareas</a></li>
        <li class="done {% if request.path == project %}active{% endif %}"><a href="{{ project }}"><span class="mif-books icon"></span>Proyectos</a></li>
        <li class="done {% if request.path == task %}active{% endif %}"><a href="{{ task }}"><span class="mif-open-book icon"></span>Tareas</a></li>
        <li class="done {% if request.path == user %}active{% endif %}"><a href="{{ user }}"><span class="mif-users icon"></span>Usuarios</a></li>
    </ul>
</div>